@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Subtract two numbers.</h1>
    <h3>Sub</h3>
    <form action="javascript:void(0);" method="POST" onsubmit="callPost()">
        <input type="number" id="inputone" placeholder="inputone">
        <input type="number" id="inputtwo" placeholder="inputtwo">

        <input type="submit" value="Subtract">
    </form>
    <p>Result: <span id="output"></span></p>
    <p id="counter"></p>

    <table id="displayAdditionHistory">
        <thead>
            <tr>

                <th>id</th>
                <th>timestamp</th>
                <th>inputone</th>
                <th>inputtwo</th>
                <th>output</th>
            </tr>
        </thead>
        <tr>
        </tr>

    </table>
</div>
<style>
    table, th, td {
        border: 1px solid black;
    }

    td {
        width: 20%;
    }

</style>
<script defer>
    const historyApiUri = "http://localhost:9002/get/subtraction/";


    async function getHistoryApi() {
        const response = await fetch(historyApiUri, {
            method: 'GET',
        });
        return response.json()
    }

    getHistoryApi().then(data => {
        console.log("" + data)
        data.forEach(function (number) {
            console.log(number.inputone);
            console.log(number);
            var table = document.getElementById("displayAdditionHistory");
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            // var cell6 = row.insertCell(5);
            cell1.innerHTML = number.id
            cell2.innerHTML = number.timestamp
            cell3.innerHTML = number.inputone
            cell4.innerHTML = number.inputtwo
            cell5.innerHTML = number.output
            // cell6.innerHTML = number.
        });
        console.log("" + data)
    })

    async function postAddition() {
        var inputone = document.getElementById("inputone").value
        var inputtwo = document.getElementById("inputtwo").value
        const additionApiUri = "http://localhost:9005/post/subtraction?inputone=" + inputone + "&inputtwo=" + inputtwo;
        const response = await fetch(additionApiUri, {
            method: 'POST',
        })
        return response.json()
    }

    async function callPost() {
        postAddition().then(data => {
            document.querySelector("#output").innerHTML = data;//.json();
            console.log("DATA: " + data)
        })
    }


</script>